invokesoapwebservices/src/main/mule/invokesoapwebservices.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ec146a27-5742-4356-a67b-d740d991a34c" >
		<http:listener-connection host="0.0.0.0" port="8085" />
	</http:listener-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="820f779c-d3ce-43eb-abca-fe12d60b9933" >
		<wsc:connection wsdlLocation="http://www.dneonline.com/calculator.asmx?wsdl" service="Calculator" port="CalculatorSoap" address="http://www.dneonline.com/calculator.asmx" >
			<wsc:web-service-security actor="http://schemas.xmlsoap.org/soap/actor/next" />
		</wsc:connection>
	</wsc:config>
	<flow name="invokesoapwebservicesFlow" doc:id="d30bd933-4d6a-41df-8e3b-95fb8d251fb5" >
		<http:listener doc:name="Listener" doc:id="f5b0f8bf-cf03-4871-9476-f0c59da18c68" config-ref="HTTP_Listener_config" path="/addTwoNumbers" doc:description="https://www.soapui.org/soap-and-wsdl/working-with-wsdls.html

http://dummy.restapiexample.com/

"/>
		<set-variable value="#[attributes.queryParams.Number1]" doc:name="Set Variable" doc:id="e656e8d0-05bf-48e5-b3c6-0992b69ab069" variableName="var1"/>
		<set-variable value="#[attributes.queryParams.Number2]" doc:name="Set Variable" doc:id="24f91166-b13f-4561-8e7c-4d5f8e80652e" variableName="var2"/>
		<ee:transform doc:name="Transform Message" doc:id="61b282cd-3317-4819-bcd7-2f86a17bb6fc" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
---
{
	ns0#Add: {
		ns0#intA: vars.var1 as Number,
		ns0#intB: vars.var2 as Number
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="Add" doc:id="cbb02132-8345-475f-8e88-d055784ff9b2" config-ref="Web_Service_Consumer_Config"/>
		<logger level="INFO" doc:name="Logger" doc:id="8f3e8220-20fa-4fb5-bfde-35b3c655079e" message="#[payload.body.AddResponse.AddResult]"/>
	</flow>
</mule>
